* {
  padding: 0;
}
html {
  width: fit-content;
}
body {
  background-color: black;
}

h5 {
  font-family: "Noto Serif", serif;
  color: white;
}

p {
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1 {
  font-family: "Noto Serif", serif;
  color: white;
  font-weight: bold;
}

h2 {
  font-family: "Noto Serif", serif;
}

h3 {
  font-family: "Noto Serif", serif;
}

h6 {
  font-family: "Noto Serif", serif;
  color: #a446a4;
}

button {
  font-family: "Montserrat", sans-serif;
}

td {
  font-family: "Montserrat", sans-serif;
}

li {
  font-family: "Noto Serif", serif;
}

#google_translate_element {
  margin-top: 100px;
}
.goog-te-combo {
  margin: 5px 0 20px 0;
  width: 50%;
  height: 40px;
  box-shadow: none;
  cursor: pointer;
  background-color: #160212;
  border: 1px solid #bc4aa5;
  border-radius: 5px;
  outline: none;
  color: gray;
  font-size: 1rem;
  padding: 5px 15px;
  transition: 0.5s;
}
.trans {
  display: flex;
}
.tradingview-widget-copyright {
  display: none !important;
}
/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, transparent, #1f0849);
  background-color: transparent;
  height: 80px;
}

.logoimg {
  width: 8rem;
}

.mbtn {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  width: 110px;
  height: 54px;
  border-width: 1px;
  color: #fff;
  border-color: #1f2f47;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset -2px 9px 14px -1px #23395e;
  text-shadow: inset 0 -12px 3px #263666;
  background: linear-gradient(#2e466e, #415989);
}

.mbtn:hover {
  background: black;
  width: 125px;
  height: 60px;
  font-size: 18px;
}

#navlink {
  text-decoration: none;
  color: white;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

#navlink:hover {
  color: yellow;
  font-size: 20px;
}

.bodycont {
  background-image: radial-gradient(#673ab74f 20%, #673ab73b 30%, black 60%);
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.8fr 0.8fr 0.9fr 1fr 0.2fr 0.6fr 0.6fr 1fr 0.6fr;
  grid-template-areas:
    "section1 section1 section1"
    "section2a section2a section2b "
    "section3a section3b section3b"
    "section4 section4 section4"
    "section5 section5 section5"
    "section6 section6 section6"
    "section7 section7 section7"
    "subscribe subscribe subscribe"
    "footer footer footer";
}

/* section 1 */
.section1 {
  padding: 6.25rem 0;
  grid-area: section1;
  background-image: url(css/bki.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: -70px;
}
.txt1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 2000 500'%3E%3Cdefs%3E%3ClinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='ccchaos-grad'%3E%3Cstop stop-color='hsl(206, 75%25, 49%25)' stop-opacity='1' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='hsl(331, 90%25, 56%25)' stop-opacity='1' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg stroke-width='2' stroke='url(%23ccchaos-grad)' fill='none' stroke-linecap='round'%3E%3Cpath d='M368.68 116.24C371.5 106.5 389.98 116.67 400.28 133.25Q407.35 143.23 414.84 152.89 422.68 162.17 430.75 171.04 438.97 179.45 447.21 187.41 455.37 194.9 463.34 201.94 470.99 208.54 478.24 214.76 490.82 226.14 501.47 236.94 508.56 247.61 513.49 258.77 515.26 271.61 515.59 285.91 515.17 294.04 514.61 302.79 514.04 312.17 513.58 322.16 513.37 332.75 513.53 343.87 514.19 355.48 515.45 367.48 517.39 379.8 520.09 392.32 523.61 404.94 527.97 417.53 533.18 429.97 539.23 442.15 546.07 453.96 553.64 465.27 561.86 476.01 570.63 486.1 579.82 495.46 589.31 504.05 598.94 511.87 608.58 518.89 618.06 525.16 627.24 530.71 635.98 535.62 644.14 539.96 657.84 547.3 668.95 554.06 677.25 567.99 678.74 580.62 676.03 595.42 672.38 613.01 670.42 623.45 668.65 634.79C666.76 652.55 650.89 658.13 637.91 652.92Q621.9 660.57 605.9 680.38 589.89 703.8 573.89 720.72 557.89 723.85 541.88 711.84 525.88 689.87 509.87 667.41 493.87 654.16 477.86 655.82 461.86 671.69 445.85 694.92 429.85 715.48 413.85 724.51 397.84 718.11 381.84 699.05 365.83 675.54 349.83 657.73 333.82 653.29 317.82 664.15 301.82 685.62 285.81 708.43 269.81 722.76 253.8 722.41 237.8 707.54 221.8 684.57 205.79 663.39 189.79 653.16 173.78 658.27 157.78 676.53 141.77 700.06 125.77 718.71C112.79 724.55 105.67 708.03 112.96 697.06Q118.22 688.25 123.6 678.48 129.07 667.82 134.6 656.35 140.14 644.15 145.67 631.35 151.13 618.09 156.48 604.5 161.68 590.75 166.69 576.97 171.49 563.32 176.03 549.94 180.31 536.97 184.29 524.52 187.98 512.69 191.39 501.58 194.51 491.23 197.37 481.68 202.36 465.42 206.91 451.46 214.78 433.9 221.11 422.99 227.78 414.44 235.54 405.11 245.27 393.53 256.17 380.19 262.25 372.4 268.61 363.96 275.21 354.88 282 345.2 288.88 334.98 295.8 324.26 302.68 313.14 309.44 301.71 315.99 290.04 322.28 278.25 328.22 266.43 333.78 254.68 338.88 243.09 343.5 231.74 347.62 220.71 351.22 210.07 354.3 199.86 356.89 190.11 360.56 172.34 363.19 156.02 364.83 141.8 366.41 128.56 368.05 119.29 368.68 116.24' stroke-dasharray='3 1' transform='rotate(0, 400, 400)' opacity='0.20'%3E%3C/path%3E%3Cpath d='M372.89 127.16C374.79 117.92 392.7 128 403.55 144.06Q410.8 153.75 418.34 163.13 426.09 172.17 433.95 180.82 441.82 189.05 449.62 196.84 457.22 204.19 464.55 211.11 477.75 223.54 489.4 234.95 497.95 245.23 504.5 255.27 507.87 265.74 509.59 276.97 509.35 290.19 508.53 304.96 508.04 313.33 507.71 322.29 507.63 331.83 507.91 341.94 508.67 352.56 509.99 363.66 511.94 375.15 514.6 386.97 518 399.01 522.17 411.19 527.12 423.39 532.84 435.52 539.29 447.45 546.42 459.08 554.16 470.32 562.42 481.06 571.11 491.24 580.1 500.78 589.28 509.63 598.51 517.76 607.66 525.15 616.6 531.81 625.2 537.75 633.34 543.03 647.41 551.62 659.23 558.93 671.22 577.19 671.69 589.39 668.55 602.73 664.93 618.63C662.55 632.56 645.99 642.45 633.4 645.13Q617.88 660.07 602.37 682.03 586.85 702.23 571.34 712.6 555.82 708.98 540.3 692.82 524.79 670.6 509.27 651.18 493.76 642.35 478.24 647.63 462.72 664.91 447.21 687.28 431.69 705.79 416.18 713.05 400.66 706.14 385.14 687.83 369.63 665.44 354.11 647.93 338.6 642.3 323.08 650.81 307.56 670.04 292.05 692.31 276.53 708.71 261.02 712.68 245.5 702.64 229.98 682.59 214.47 660.56 198.95 645.36 183.44 643.07 167.92 654.6 152.4 675.35 136.89 697.01C124.3 709.21 117.78 698.53 125.11 684.47Q130.35 673.71 135.67 662.24 141.04 650.15 146.42 637.56 151.78 624.59 157.07 611.37 162.25 598.05 167.3 584.75 172.17 571.61 176.83 558.76 181.26 546.32 185.43 534.39 189.33 523.05 192.96 512.39 196.31 502.44 199.38 493.26 204.7 477.54 209.41 464 216.61 446.96 221.96 436.49 232.11 421.85 240.99 409.85 250.32 397.3 260.76 382.97 266.57 374.73 272.67 365.89 279.01 356.49 285.53 346.58 292.17 336.22 298.88 325.47 305.57 314.42 312.17 303.15 318.63 291.75 324.86 280.31 330.81 268.92 336.42 257.67 341.64 246.62 346.43 235.85 350.75 225.43 354.6 215.4 357.96 205.8 360.84 196.66 365.05 180.01 368.11 164.7 369.87 151.33 371.29 138.83 372.45 130.05 372.89 127.16' stroke-dasharray='7 10' transform='rotate(4.04, 400, 400)' opacity='0.15'%3E%3C/path%3E%3Cpath d='M377.61 138.12C378.87 129.34 396.21 139.32 407.34 154.86Q422.03 173.35 437.04 190.56 451.7 206.23 465.31 220.24 477.3 232.65 487.19 243.66 494.7 253.67 499.79 263.17 502.63 272.76 503.61 283.03 503.31 294.56 502.46 307.84 501.87 323.18 502.32 340.73 504.53 360.39 509.09 381.88 516.36 404.69 526.45 428.18 539.22 451.59 554.27 474.16 570.95 495.15 588.47 513.98 605.91 530.22 622.36 543.72 636.96 554.56 649.01 563.1 662.32 575.92 666.58 588.79 664.53 597.53 661.31 608.85C658.83 618.87 642.04 633.3 629.83 642.66Q614.79 661.89 599.75 682.84 584.7 697.75 569.66 701.13 554.62 691.71 539.58 672.99 524.53 651.88 509.49 636.18 494.45 631.69 479.41 640.08 464.36 658.24 449.32 679.47 434.28 695.91 419.23 701.49 404.19 694.15 389.15 676.6 374.11 655.33 359.06 638.19 344.02 631.53 328.98 637.8 313.94 654.69 298.89 675.95 283.85 693.73 268.81 701.45 253.76 696.26 238.72 680.09 223.68 658.9 208.63 640.53 193.59 631.76 178.55 635.85 163.51 651.27 148.46 672.33C136.26 688.2 130.24 682.31 137.56 665.93Q147.93 641.52 158.32 616.01 168.45 590.37 178.03 565.56 186.83 542.4 194.68 521.55 201.48 503.43 207.26 488.16 212.13 475.6 216.32 465.37 220.14 456.86 223.95 449.33 228.14 441.98 233.09 434.02 239.12 424.76 246.45 413.66 255.2 400.37 265.35 384.77 276.73 366.98 289.05 347.31 301.91 326.24 314.83 304.35 327.31 282.28 338.87 260.67 349.09 240.06 357.67 220.86 364.45 203.33 369.44 187.57 372.85 173.48 375 160.8 377.01 143.64 377.61 138.12' stroke-dasharray='8 4' transform='rotate(8.08, 400, 400)' opacity='0.20'%3E%3C/path%3E%3Cpath d='M382.66 149.08C383.54 140.78 400.34 150.63 411.47 165.63Q425.73 183.53 439.9 200.26 453.36 215.55 465.57 229.3 476.07 241.51 484.52 252.34 490.77 262.1 494.85 271.2 496.99 280.15 497.59 289.49 497.19 299.76 496.45 311.44 496.08 324.91 496.75 340.38 499.1 357.91 503.59 377.36 510.55 398.4 520.09 420.57 532.07 443.25 546.18 465.76 561.87 487.42 578.47 507.58 595.2 525.71 611.25 541.43 625.85 554.6 638.34 565.27 653.79 579.96 660.74 591.68 659.9 597.76 657.49 605.26C655.24 611.94 638.69 630.17 626.87 643.93Q612.3 664.08 597.72 681.29 583.15 689.69 568.57 686.44 554 672.62 539.42 652.96 524.84 634.13 510.27 622.55 495.69 622.16 481.12 633.09 466.54 651.62 451.97 671.45 437.39 685.82 422.81 689.85 408.24 682.16 393.66 665.38 379.09 645.2 364.51 628.51 349.93 620.98 335.36 625.17 320.78 639.65 306.21 659.51 291.63 677.98 277.05 688.77 262.48 688.21 247.9 676.49 233.33 657.61 218.75 637.98 204.17 624.29 189.6 621.19 175.02 629.75 160.45 647.04C148.63 663.48 143.03 660.59 150.23 643.15Q160.31 618.41 170.22 593.89 179.73 570.4 188.6 548.64 196.64 529.16 203.73 512.26 209.83 498.02 214.99 486.28 219.36 476.66 223.16 468.64 230.5 454.39 239.08 438.71 244.88 428.52 251.91 416.35 260.26 402.03 269.94 385.6 280.78 367.28 292.55 347.47 304.9 326.64 317.4 305.37 329.62 284.23 341.11 263.75 351.47 244.38 360.39 226.44 367.67 210.13 373.27 195.46 377.26 182.32 379.9 170.46 382.1 154.3 382.66 149.08' stroke-dasharray='4 7' transform='rotate(12.12, 400, 400)' opacity='0.15'%3E%3C/path%3E%3Cpath d='M387.84 160.07C388.6 152.23 404.86 161.93 415.71 176.38Q429.27 193.68 442.37 209.9 454.52 224.81 465.27 238.29 474.3 250.3 481.4 260.97 486.49 270.53 489.68 279.31 491.23 287.74 491.53 296.3 491.09 305.48 490.49 315.74 490.34 327.48 491.23 340.96 493.67 356.35 498.09 373.64 504.75 392.67 513.74 413.12 524.96 434.53 538.14 456.36 552.85 478.01 568.52 498.85 584.48 518.31 600.03 535.93 614.49 551.34 627.25 564.39 637.81 575.08 645.85 583.63 652.88 595.81 653.2 606.52C651.46 610.91 635.59 631.45 624.15 646.81Q610.05 664.7 595.94 676.22 581.84 677.79 567.73 668.9 553.63 652.34 539.52 633.28 525.42 617.66 511.31 610.36 497.21 613.66 483.1 626.53 469 644.95 454.89 663.18 440.79 675.51 426.68 678.11 412.58 670.16 398.47 654.14 384.37 635.05 370.26 618.86 356.16 610.61 342.05 612.88 327.95 624.97 313.85 643.09 299.74 661.59 285.64 674.71 271.53 678.33 257.43 671.34 243.32 655.91 229.22 636.86 215.11 620.14 201.01 610.97 186.9 612.2 172.8 623.46C161.36 637.61 156.09 635.69 163.09 618.58Q172.73 595.36 182.07 573.39 190.89 553.24 198.99 535.33 206.25 519.85 212.59 506.83 218.01 496.08 222.59 487.23 229.86 473.23 236.63 459.74 240.48 451.78 245.07 442.33 250.64 431.05 257.36 417.78 265.33 402.53 274.53 385.45 284.83 366.84 296.04 347.12 307.85 326.77 319.9 306.29 331.8 286.2 343.15 266.93 353.57 248.84 362.76 232.18 370.5 217.06 376.67 203.46 381.29 191.25 384.5 180.17 387.21 164.99 387.84 160.07' stroke-dasharray='3 2' transform='rotate(16.16, 400, 400)' opacity='0.12'%3E%3C/path%3E%3Cpath d='M392.97 171.09C393.81 163.68 409.53 173.21 419.87 187.12Q432.46 203.8 444.33 219.5 455.08 234.02 464.38 247.2 472 259.02 477.83 269.54 483.63 287.21 485.47 303.43 485.03 311.69 484.58 320.72 484.65 330.89 485.73 342.54 488.26 355.86 492.59 370.97 498.95 387.82 507.4 406.25 517.88 425.95 530.17 446.53 543.91 467.49 558.63 488.3 573.77 508.41 588.73 527.31 602.92 544.56 615.77 559.83 626.82 572.94 635.71 583.85 645.25 599.08 648.19 610.4C647.19 613.8 632.35 634.78 621.3 648.94Q607.68 662.06 594.06 666.96 580.44 662.24 566.82 649.24 553.19 631.67 539.57 614.54 525.95 602.74 512.33 599.63 498.71 606.09 485.09 620.28 471.46 638.17 457.84 654.64 444.22 665 430.6 666.3 416.98 658.17 403.36 642.92 389.73 624.91 376.11 609.26 362.49 600.44 348.87 600.97 335.25 610.69 321.63 626.83 308.01 644.79 294.38 659.45 280.76 666.63 267.14 664.28 253.52 653.08 239.9 636.21 226.28 618.49 212.66 604.96 199.04 599.49 185.41 603.64C174.37 613.33 169.32 610.45 176.02 594.97Q185.12 574.75 193.79 556.43 201.85 540.27 209.16 526.4 215.64 514.76 221.24 505.13 229.78 490.67 236.67 478.12 239.72 471.57 242.95 464.06 246.65 455.16 251.06 444.58 256.4 432.17 262.82 417.91 270.4 401.91 279.12 384.42 288.88 365.77 299.52 346.38 310.78 326.71 322.34 307.19 333.87 288.25 345.01 270.26 355.41 253.48 364.79 238.09 372.9 224.14 379.61 211.58 384.86 200.27 388.71 189.95 392.15 175.71 392.97 171.09' stroke-dasharray='5 10' transform='rotate(20.200000000000003, 400, 400)' opacity='0.15'%3E%3C/path%3E%3Cpath d='M397.83 182.12C398.97 175.17 414.09 184.48 423.71 197.83Q435.16 213.88 445.68 229.05 455 243.14 462.87 256.02 469.17 267.63 473.85 278 478.23 295.3 479.4 310.78 479.01 326.71 480.27 345.1 482.87 356.5 487.1 369.48 493.15 384.11 501.08 400.35 510.85 418.02 522.27 436.87 535.06 456.54 548.82 476.6 563.1 496.59 577.4 516.02 591.19 534.45 603.97 551.45 615.32 566.73 624.88 580.05 632.39 591.35 637.76 600.66 640.99 608.18 642.27 614.23C642.14 617.9 628.62 637.47 617.98 648.14Q604.86 655.01 591.74 653.35 578.62 643.59 565.5 628.26 552.39 611.34 539.27 597.21 526.15 589.52 513.03 590.29 499.92 599.3 486.8 614.22 473.68 631.18 460.56 645.79 447.44 654.27 434.33 654.4 421.21 646.17 408.09 631.7 394.97 614.74 381.85 599.69 368.74 590.45 355.62 589.42 342.5 596.85 329.38 610.84 316.26 627.74 303.15 643.18 290.03 653.16 276.91 655.09 263.79 648.47 250.67 635.02 237.55 618.22 224.44 602.43 211.32 591.73 198.2 588.91C187.56 592.98 182.62 587.75 188.92 574.82Q197.37 558.52 205.29 544.29 212.55 532.16 219.06 522 229.31 506.98 237.4 494.71 243.34 482.27 249.26 467.05 252.81 457.01 257.05 445.26 262.16 431.81 268.28 416.73 275.46 400.23 283.71 382.6 292.93 364.18 302.99 345.36 313.68 326.56 324.72 308.14 335.83 290.45 346.69 273.78 357 258.32 366.47 244.17 374.88 231.36 382.05 219.81 387.89 209.36 392.4 199.78 396.74 186.46 397.83 182.12' stroke-dasharray='10 2' transform='rotate(24.24, 400, 400)' opacity='0.20'%3E%3C/path%3E%3Cpath d='M402.25 193.19C403.81 186.65 418.34 195.73 427.06 208.53Q437.21 223.93 446.34 238.55 454.23 252.2 460.74 264.75 465.82 276.13 469.49 286.36 472.67 303.37 473.36 318.3 473.24 332.67 474.84 348.63 477.49 358.29 481.61 369.29 487.36 381.75 494.78 395.73 503.86 411.18 514.43 427.96 526.28 445.84 539.1 464.53 552.49 483.65 566.05 502.81 579.33 521.59 591.9 539.59 603.36 556.42 613.38 571.78 621.68 585.44 628.12 597.26 632.62 607.23 635.24 615.43C636.06 620.35 624.06 637.03 613.86 642.79Q601.27 643.08 588.68 635.84 576.09 622.79 563.5 606.97 550.91 592.1 538.32 581.66 525.73 578.1 513.14 582.25 500.56 593.14 487.97 608.23 475.38 623.96 462.79 636.65 450.2 643.34 437.61 642.44 425.02 634.17 412.43 620.48 399.84 604.56 387.25 590.15 374.66 580.63 362.07 578.24 349.49 583.52 336.9 595.25 324.31 610.67 311.72 626.17 299.13 638.11 286.54 643.7 273.95 641.63 261.36 632.37 248.77 618.11 236.18 602.18 223.59 588.32 211 579.78C200.8 578.19 195.88 569.86 201.71 559.91Q209.41 547.74 216.53 537.42 228.31 522.12 237.89 509.97 244.44 498.99 249.98 486.26 252.63 478.03 255.56 468.34 258.97 457.09 263.04 444.27 267.92 429.96 273.73 414.33 280.53 397.62 288.3 380.14 296.98 362.21 306.46 344.2 316.56 326.43 327.05 309.23 337.7 292.86 348.22 277.53 358.35 263.38 367.82 250.46 376.43 238.76 383.97 228.17 390.35 218.55 395.49 209.67 400.84 197.25 402.25 193.19' stroke-dasharray='9 9' transform='rotate(28.28, 400, 400)' opacity='0.25'%3E%3C/path%3E%3Cpath d='M406.05 204.26C408.14 198.15 422.04 206.99 429.73 219.19Q438.51 233.93 446.22 247.98 452.75 261.17 458 273.37 461.99 284.51 464.77 294.58 466.99 311.36 467.34 325.91 467.52 339.07 469.44 353.04 472.12 361.2 476.12 370.42 481.56 380.86 488.49 392.64 496.9 405.8 506.66 420.32 517.6 436.07 529.46 452.88 541.95 470.5 554.71 488.62 567.38 506.91 579.6 525.01 591 542.56 601.28 559.22 610.17 574.7 617.48 588.74 623.1 601.19 627 611.95C628.79 618.65 618.44 631.56 608.67 632.03Q596.64 626.48 584.61 615.32 572.58 600.92 560.55 586.29 548.52 574.54 536.49 568.13 524.46 568.42 512.43 575.34 500.4 587.44 488.37 602.17 476.34 616.41 464.31 627.18 452.28 632.19 440.25 630.4 428.22 622.17 416.19 609.25 404.16 594.35 392.13 580.63 380.1 570.96 368.07 567.4 356.04 570.69 344.01 580.13 331.98 593.74 319.95 608.65 307.92 621.71 295.89 630.18 283.85 632.25 271.82 627.51 259.79 616.94 247.76 602.78 235.73 588.01 223.7 575.75C213.94 569.45 208.99 558.1 214.27 551.03Q221.16 542.54 227.44 535.41 237.65 524.26 245.89 514.25 251.59 502.57 256.57 488.02 259.07 478.54 261.86 467.63 265.13 455.3 269.03 441.61 273.69 426.72 279.19 410.85 285.6 394.25 292.89 377.2 301.04 360.02 309.93 343 319.43 326.42 329.35 310.53 339.49 295.52 349.61 281.55 359.48 268.68 368.86 256.95 377.56 246.31 385.38 236.64 392.2 227.81 397.93 219.62 404.29 208.06 406.05 204.26' stroke-dasharray='10 8' transform='rotate(32.32, 400, 400)' opacity='0.05'%3E%3C/path%3E%3Cpath d='M409.09 215.37C411.76 209.66 424.98 218.23 431.59 229.85Q438.97 243.91 445.32 257.36 450.56 270.06 454.68 281.88 457.71 292.76 459.75 302.65 461.22 319.23 461.38 333.53 461.86 345.8 464.08 358.23 466.77 365.14 470.63 372.82 475.77 381.45 482.22 391.2 489.98 402.15 498.95 414.36 509 427.81 519.93 442.41 531.5 458.03 543.42 474.48 555.41 491.5 567.14 508.84 578.32 526.17 588.66 543.21 597.93 559.64 605.9 575.18 612.45 589.59 617.5 602.67C620.19 611.19 611.5 620.18 602.22 615.94Q590.78 606.14 579.34 593.08 567.9 579.2 556.46 567.13 545.02 559.14 533.58 556.74 522.14 560.37 510.7 569.36 499.26 582.01 487.82 595.93 476.38 608.51 464.94 617.37 453.5 620.85 442.06 618.28 430.62 610.16 419.18 598.01 407.74 584.12 396.3 571.12 384.86 561.44 373.42 556.91 361.98 558.39 350.54 565.59 339.1 577.17 327.66 590.93 316.22 604.29 304.78 614.73 293.34 620.28 281.9 619.9 270.46 613.65 259.02 602.72 247.58 589.17 236.14 575.54C226.85 566.21 221.8 552.56 226.48 547.8Q237.65 537.22 246.97 527.91 253.46 517.61 258.71 505.04 260.92 496.91 263.13 487.52 265.49 476.81 268.16 464.83 271.29 451.64 275.02 437.39 279.45 422.26 284.65 406.49 290.67 390.31 297.5 373.98 305.11 357.77 313.41 341.91 322.3 326.63 331.63 312.11 341.22 298.49 350.88 285.85 360.41 274.25 369.61 263.66 378.29 254.03 386.28 245.25 393.44 237.17 399.66 229.63 406.99 218.9 409.09 215.37' stroke-dasharray='10 7' transform='rotate(36.36, 400, 400)' opacity='0.2'%3E%3C/path%3E%3Cpath d='M411.27 226.49C414.51 221.18 427.01 229.44 432.52 240.47Q438.54 253.84 443.61 266.68 447.69 278.86 450.81 290.28 453.03 300.85 454.46 310.55 455.39 326.94 455.47 341.06 456.27 352.74 458.75 364.03 465.7 376.72 475.96 391.43 483.09 400.36 491.31 410.36 500.5 421.49 510.5 433.75 521.15 447.08 532.2 461.4 543.43 476.55 554.57 492.35 565.38 508.59 575.6 525.03 585.02 541.4 593.44 557.45 600.7 572.92 606.7 587.58C610.2 597.51 603.13 603.1 594.36 595.5Q583.54 583.54 572.72 570.59 561.9 558.83 551.08 550.23 540.27 546.21 529.45 547.46 518.63 553.76 507.81 564.06 496.99 576.65 486.17 589.4 475.35 600.19 464.54 607.23 453.72 609.32 442.9 606.12 432.08 598.17 421.26 586.79 410.44 573.89 399.62 561.63 388.81 552.05 377.99 546.75 367.17 546.63 356.35 551.7 345.53 561.12 334.71 573.3 323.89 586.22 313.08 597.71 302.26 605.85 291.44 609.29 280.62 607.44 269.8 600.61 258.99 589.95 248.17 577.24C239.39 566.89 234.2 552.11 238.28 548.83Q247.79 540.37 255.63 531.47 261.1 519.47 265.62 504.53 267.61 495.1 269.66 484.49 271.9 472.75 274.46 459.97 277.46 446.27 281.02 431.82 285.21 416.83 290.11 401.49 295.74 386.03 302.11 370.67 309.18 355.62 316.9 341.06 325.18 327.16 333.89 314.04 342.9 301.79 352.05 290.47 361.17 280.08 370.09 270.58 378.65 261.92 386.69 253.97 394.06 246.61 400.67 239.69 408.85 229.77 411.27 226.49' stroke-dasharray='1 6' transform='rotate(40.400000000000006, 400, 400)' opacity='0.23'%3E%3C/path%3E%3Cpath d='M412.51 237.63C416.27 232.72 428.03 240.65 432.46 251.06Q437.21 263.73 441.11 275.93 444.17 287.57 446.45 298.55 448.01 308.79 448.96 318.25 449.53 334.44 449.64 348.45 453.42 367.62 459.65 380.94 464.18 386.81 469.72 393.26 476.25 400.43 483.73 408.46 492.09 417.41 501.2 427.36 510.92 438.32 521.08 450.28 531.5 463.16 541.96 476.89 552.26 491.32 562.19 506.3 571.57 521.64 580.2 537.14 587.94 552.58 594.66 567.74C598.82 578.36 593.26 581.52 585.02 572.34Q574.85 560.36 564.68 549.28 554.52 540.76 544.35 536.03 534.18 535.8 524.02 540.1 513.85 548.3 503.68 559.18 493.52 571.16 483.35 582.46 473.18 591.42 463.01 596.73 452.85 597.59 442.68 593.9 432.51 586.17 422.35 575.57 412.18 563.64 402.01 552.14 391.85 542.77 381.68 536.9 371.51 535.4 361.34 538.49 351.18 545.71 341.01 556.01 330.84 567.86 320.68 579.52 310.51 589.28 300.34 595.69 290.17 597.82 280.01 595.35 269.84 588.64 259.67 578.69C251.42 569.22 246.11 554.66 249.55 551.92Q257.49 543.35 263.97 533.11 268.54 518.61 272.44 501.07 274.26 490.48 276.18 478.92 278.3 466.48 280.76 453.28 283.63 439.47 287.01 425.22 290.97 410.72 295.57 396.14 300.81 381.67 306.72 367.49 313.27 353.74 320.41 340.57 328.07 328.09 336.15 316.38 344.56 305.49 353.15 295.43 361.79 286.19 370.35 277.73 378.68 269.97 386.64 262.81 394.1 256.13 400.96 249.81 409.81 240.66 412.51 237.63' stroke-dasharray='7 1' transform='rotate(44.44, 400, 400)' opacity='0.04'%3E%3C/path%3E%3Cpath d='M412.79 248.8C416.97 244.27 427.96 251.85 431.39 261.65Q434.99 273.58 437.87 285.14 440.08 296.2 441.66 306.71 442.7 316.58 443.31 325.77 443.67 341.7 443.9 355.6 448.03 374.12 454.16 386.26 463.91 396.73 476.22 408.59 483.77 415.65 492.01 423.49 500.82 432.18 510.08 441.77 519.65 452.25 529.35 463.59 539.03 475.76 548.52 488.66 557.66 502.18 566.28 516.2 574.25 530.56 581.45 545.09C586.1 555.55 581.91 557.52 574.21 548.57Q564.72 538.42 555.23 530.46 545.74 525.71 536.25 524.79 526.76 527.81 517.27 534.38 507.78 543.66 498.29 554.46 488.8 565.39 479.31 575.05 469.82 582.19 460.33 585.9 450.84 585.7 441.35 581.62 431.86 574.18 422.37 564.34 412.88 553.36 403.39 542.65 393.9 533.59 384.41 527.34 374.92 524.7 365.43 526.02 355.94 531.12 346.45 539.34 336.96 549.64 327.47 560.69 317.98 571.07 308.49 579.45 299 584.74 289.51 586.28 280.02 583.86 270.53 577.8C262.83 570.72 257.43 557.6 260.27 554.6Q266.74 544.24 272 531.56 274.06 523.68 275.89 514.87 277.58 505.14 279.21 494.54 280.88 483.13 282.68 471.01 284.72 458.29 287.06 445.11 289.81 431.62 293.01 417.96 296.74 404.28 301.03 390.74 305.89 377.48 311.35 364.63 317.37 352.29 323.93 340.56 330.97 329.51 338.42 319.19 346.19 309.6 354.19 300.75 362.3 292.61 370.42 285.12 378.41 278.2 386.17 271.78 393.59 265.75 400.55 259.98 409.88 251.59 412.79 248.8' stroke-dasharray='10 5' transform='rotate(48.48, 400, 400)' opacity='0.15'%3E%3C/path%3E%3Cpath d='M412.11 259.99C416.6 255.83 426.79 263.03 429.33 272.2Q431.94 283.39 433.97 294.27 435.48 304.73 436.53 314.73 437.47 332.76 437.84 348.98 439.71 370.44 442.94 383.36 449.04 392.1 457.26 400.85 469.11 410.8 482.95 422.13 490.87 428.83 499.23 436.24 507.92 444.41 516.81 453.35 525.78 463.08 534.69 473.57 543.42 484.78 551.83 496.66 559.8 509.11 567.22 522.03C572.16 531.55 569.13 533.47 562 526.25Q544.41 515 526.83 516.42 509.25 529.89 491.67 549.6 474.09 567.06 456.5 574.73 438.92 569.3 421.34 553.12 403.76 533.16 386.17 518.04 368.59 514.27 351.01 523.48 333.43 541.7 315.84 561.07 298.26 573.23 280.68 572.94C273.54 569.1 268.11 558.29 270.38 554.47Q275.54 541.43 279.75 526 281.44 516.87 282.98 506.98 284.45 496.39 285.93 485.16 287.48 473.39 289.19 461.19 291.14 448.67 293.38 435.96 295.99 423.17 299.02 410.44 302.5 397.88 306.49 385.6 310.98 373.71 315.98 362.29 321.49 351.41 327.48 341.13 333.9 331.49 340.71 322.5 347.84 314.15 355.21 306.44 362.74 299.31 370.34 292.72 377.91 286.6 385.36 280.87 405.71 265.13 412.11 259.99' stroke-dasharray='2 3' transform='rotate(52.52, 400, 400)' opacity='0.15'%3E%3C/path%3E%3Cpath d='M410.54 271.21C415.2 267.41 424.55 274.19 426.33 282.73Q429.49 303.34 431.12 322.62 431.77 340.14 432.06 355.6 432.71 368.91 434.4 380.19 437.74 389.76 443.2 398.13 451.06 405.98 461.4 414.03 474.03 423.05 488.56 433.72 504.4 446.62 520.82 462.09 537 480.27 552.14 501C557.19 509.02 555.09 511.75 548.54 507.24Q532.38 503.4 516.23 510.59 500.07 526.16 483.92 544.35 467.76 558.44 451.61 563.22 435.45 556.93 419.3 541.89 403.14 523.65 386.99 508.97 370.83 503.26 354.67 508.64 338.52 523.11 322.36 541.34 306.21 556.58 290.05 563.19C283.5 562.72 278.11 554.62 279.88 549.76Q284.01 534.35 287.24 516.23 289.95 495.75 292.6 473.46 295.7 450.07 299.7 426.36 305.02 403.1 311.94 381.01 320.62 360.64 331.05 342.36 343.03 326.34 356.23 312.49 370.16 300.55 384.25 290.08 404.22 275.86 410.54 271.21' stroke-dasharray='1 7' transform='rotate(56.56, 400, 400)' opacity='0.21'%3E%3C/path%3E%3Cpath d='M408.15 282.43C412.83 279 421.36 285.36 422.53 293.23Q424.55 312.34 425.55 330.37 426 346.98 426.4 361.88 427.3 374.94 429.21 386.19 432.56 395.8 437.72 404.08 444.87 411.47 454.08 418.52 465.23 425.8 478.06 433.92 492.14 443.41 506.97 454.73 521.92 468.2 536.39 483.97C541.37 490.21 539.98 494.26 534.01 492.75Q519.3 495.61 504.6 506.75 489.89 522.7 475.18 538.48 460.47 549.17 445.76 551.42 431.05 544.54 416.35 530.67 401.64 514.14 386.93 500.12 372.22 492.97 357.51 494.93 342.8 505.39 328.09 521.09 313.38 537.11 298.67 548.47C292.71 550.85 287.44 545.35 288.79 539.57Q291.95 522.06 294.52 502.67 296.84 481.87 299.28 460.23 302.23 438.36 306.04 416.88 311.03 396.35 317.4 377.21 325.28 359.81 334.66 344.31 345.4 330.72 357.28 318.91 369.93 308.59 382.94 299.39 402 286.63 408.15 282.43' stroke-dasharray='10 1' transform='rotate(60.599999999999994, 400, 400)' opacity='0.15'%3E%3C/path%3E%3Cpath d='M405.1 293.68C409.64 290.58 417.33 296.49 418.06 303.71Q419.27 321.27 419.9 337.99 420.3 353.57 420.88 367.79 422.02 380.49 424.09 391.64 427.42 401.29 432.24 409.62 438.69 416.9 446.83 423.48 456.58 429.77 467.76 436.22 480.11 443.28 493.26 451.39 506.78 460.91 520.21 472.14C524.94 476.63 524.05 482.01 518.68 483.2Q505.42 491.09 492.16 504.14 478.91 518.99 465.65 531.77 452.39 539.19 439.13 539.31 425.88 532.1 412.62 519.44 399.36 504.6 386.1 491.43 372.85 483.35 359.59 482.44 346.33 488.95 333.07 501.19 319.81 515.98 306.56 529.49C301.18 533.77 296.16 530.39 297.15 524.08Q299.56 505.67 301.64 486.28 303.67 466.36 305.95 446.4 308.77 426.84 312.4 408.12 317.04 390.56 322.86 374.45 329.95 359.91 338.3 347 347.83 335.65 358.37 325.68 369.69 316.84 381.48 308.81 399.25 297.44 405.1 293.68' stroke-dasharray='8 6' transform='rotate(64.64, 400, 400)' opacity='0.17'%3E%3C/path%3E%3Cpath d='M401.52 304.95C405.8 302.19 412.65 307.63 413.07 314.17Q413.8 330.15 414.25 345.48 414.73 359.94 415.51 373.33 416.87 385.52 419.06 396.44 422.3 406.08 426.76 414.5 432.52 421.86 439.63 428.36 448.06 434.24 457.68 439.82 468.32 445.42 479.76 451.39 491.69 458.05 503.81 465.69C508.15 468.74 507.58 475.09 502.79 478.23Q490.98 488.93 479.17 501.96 467.36 514.56 455.55 524.08 443.73 528.52 431.92 526.93 420.11 519.65 408.3 508.22 396.49 495.04 384.68 482.9 372.86 474.35 361.05 471.2 349.24 474.11 337.43 482.46 325.62 494.5 313.8 507.69C309.01 512.73 304.32 510.73 305.05 504.41Q306.91 486.51 308.65 468.4 310.49 450.44 312.66 432.96 315.36 416.25 318.77 400.56 323.06 386.06 328.32 372.87 334.63 361.03 341.98 350.48 350.32 341.13 359.55 332.81 369.5 325.3 379.98 318.33 396.13 308.3 401.52 304.95' stroke-dasharray='8 8' transform='rotate(68.68, 400, 400)' opacity='0.15'%3E%3C/path%3E%3Cpath d='M397.62 316.23C401.51 313.81 407.53 318.73 407.78 324.6Q408.27 338.96 408.73 352.83 409.35 366.06 410.33 378.48 411.87 390 414.11 400.51 417.22 410 421.28 418.46 426.36 425.95 432.5 432.56 439.68 438.44 447.82 443.76 456.83 448.73 466.55 453.57 476.82 458.52 487.42 463.82C491.29 465.86 490.86 472.57 486.65 476.64Q476.27 487.9 465.89 499.31 455.5 508.97 445.12 515.27 434.74 517.14 424.35 514.28 413.97 507.17 403.58 496.99 393.2 485.45 382.82 474.47 372.43 465.9 362.05 461.16 351.66 461.05 341.28 465.59 330.89 474.01 320.51 484.91C316.3 489.63 312.04 488.31 312.6 482.46Q314.09 466.36 315.61 450.58 317.34 435.35 319.42 420.85 321.99 407.24 325.17 394.62 329.08 383.06 333.79 372.59 339.32 363.16 345.7 354.71 352.89 347.13 360.83 340.25 369.41 333.92 378.51 327.94 392.8 319.17 397.62 316.23' stroke-dasharray='9 9' transform='rotate(72.72, 400, 400)' opacity='0.040'%3E%3C/path%3E%3Cpath d='M393.59 327.55C396.99 325.45 402.2 329.84 402.38 335.01Q402.83 347.71 403.39 360.05 404.19 371.94 405.36 383.26 407.01 393.91 409.25 403.83 412.16 412.97 415.8 421.31 425.83 435.24 438.2 447.07 445.65 451.96 453.72 456.46 462.3 460.71 471.27 464.86C474.56 466.37 474.19 472.76 470.54 476.82Q461.56 486.71 452.58 495.46 443.6 501.92 434.62 505.28 425.64 505.11 416.66 501.41 407.68 494.68 398.7 485.77 389.72 475.83 380.74 466.13 371.76 457.92 362.78 452.26 353.8 449.87 344.82 451.06 335.84 455.68 326.86 463.12C323.21 466.75 319.46 465.44 319.91 460.51Q321.18 447.14 322.59 434.34 324.24 422.22 326.23 410.85 328.66 400.29 331.6 390.58 335.11 381.7 339.25 373.63 349.79 359.96 362.24 348 369.47 342.72 377.17 337.65 389.42 330.09 393.59 327.55' stroke-dasharray='6 3' transform='rotate(76.76, 400, 400)' opacity='0.20'%3E%3C/path%3E%3Cpath d='M389.63 338.87C392.48 337.09 396.89 340.94 397.08 345.39Q398.34 367.14 400.62 387.65 404.47 406.37 410.33 422.9 418.43 437.05 428.81 448.84 441.31 458.56 455.54 466.68C458.24 468.02 457.83 473.52 454.75 476.79Q439.53 489.71 424.31 494.1 409.1 488.33 393.88 474.54 378.66 457.82 363.44 444.36 348.22 439.13 333 444.06C329.92 446.2 326.75 444.56 327.14 440.75Q329.65 420.9 333.14 403.48 338.05 388.56 344.7 375.95 353.29 365.28 363.8 355.99 382.83 343.14 389.63 338.87' stroke-dasharray='6 7' transform='rotate(80.80000000000001, 400, 400)' opacity='0.2'%3E%3C/path%3E%3Cpath d='M385.95 350.21C388.22 348.74 391.86 352.01 392.09 355.75Q393.65 374.1 396.12 391.67 399.78 408.13 404.85 423.18 411.47 436.63 419.67 448.38 429.38 458.47 440.42 467.02C442.52 468.41 442.05 472.68 439.51 474.77Q426.97 481.65 414.43 481.76 401.89 475.07 389.34 463.31 376.8 449.53 364.26 437.3 351.72 429.79 339.18 428.95C336.63 429.65 334.07 427.61 334.43 424.93Q336.86 411.08 340.15 398.99 344.53 388.52 350.17 379.46 357.17 371.48 365.54 364.22 380.57 353.74 385.95 350.21' stroke-dasharray='4 6' transform='rotate(84.84, 400, 400)' opacity='0.2'%3E%3C/path%3E%3Cpath d='M382.73 361.57C384.43 360.42 387.3 363.07 387.6 366.09Q389.38 380.94 391.86 395.36 395.16 409.15 399.38 422.15 404.57 434.21 410.77 445.24 417.95 455.17 426.04 463.99C427.59 465.47 427.06 468.41 425.05 469.29Q415.12 471.06 405.18 468.37 395.25 461.67 385.32 452.09 375.38 441.23 365.44 430.89 355.51 422.82 345.57 418.36C343.56 417.98 341.6 415.72 341.96 414.01Q347.67 397.72 355.63 383.99 361.1 378.17 367.47 372.64 378.71 364.38 382.73 361.57' stroke-dasharray='8 6' transform='rotate(88.88, 400, 400)' opacity='0.2'%3E%3C/path%3E%3Cpath d='M380.15 372.95C381.31 372.09 383.45 374.12 383.77 376.4Q387.87 398.71 393.9 419.86 402.11 439.23 412.5 456.38C413.55 457.81 413.03 459.55 411.53 459.53Q396.75 454.02 381.98 440.86 367.2 424.9 352.42 412.05C350.92 411.13 349.55 408.99 349.9 408Q354.59 397.99 361.1 389.29 374.88 377.07 380.15 372.95' stroke-dasharray='4 11' transform='rotate(92.92, 400, 400)' opacity='0.15'%3E%3C/path%3E%3Cpath d='M378.35 384.35C379.04 383.77 380.46 385.15 380.75 386.69Q384.14 401.78 388.43 416.47 393.68 430.55 399.9 443.84C400.51 445 400.06 445.86 399.07 445.41Q389.28 438.92 379.49 429.64 369.7 419.11 359.9 409.1C358.91 408.19 358.08 406.53 358.37 406Q372.68 389.74 378.35 384.35' stroke-dasharray='0 10' transform='rotate(96.96, 400, 400)' opacity='0.15'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.mh5 {
  line-height: 2;
  font-size: 0.94rem;
  text-align: center;
}

.mh6 {
  line-height: 2;
  font-size: 0.94rem;
  text-align: center;
}

.mh1 {
  font-size: 3em;
  text-align: center;
}

.sp1 {
  color: #ffee00;
}

.btni {
  margin-left: 50px;
  margin-top: 50px;
  text-decoration: none;
  width: 170px;
  height: 60px;
  border: solid;
  border-color: #cdc6aa;
  border-width: thin;
  color: white;
  background-color: #c3b167;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #a446a4;
  transition: ease-out 0.05s;
  font-size: 1rem;
  outline: none;
}

.btni:hover {
  box-shadow: inset 230px 0 0 0 #a446a4;
  cursor: pointer;
  color: white;
  border-color: black;
  border-width: thin;
  width: 200px;
  height: 70px;
  font-size: 1.3rem;
}

/* section 2 */
.section2a {
  grid-area: section2a;
  padding-bottom: 3.13rem;
  padding-left: 5rem;
}

.section2b {
  grid-area: section2b;
  padding-right: 8rem;
}

.h2txt1a {
  font-size: 2.5rem;
  color: white;
  text-align: left;
  font-family: "montserrat ", sans-serif;
  width: 400px;
}

.h1txt1a {
  color: #a446a4;
  line-height: 2;
}

.td1 {
  color: yellow;
  width: 250px;
  font-size: 0.8rem;
  text-align: left;
}

.p1 {
  margin-top: 30px;
  color: white;
  text-align: center;
  line-height: 2;
  margin-bottom: 2rem;
}

.btni2 {
  text-decoration: none;
  width: 170px;
  height: 60px;
  border: solid;
  border-color: #cdc6aa;
  border-width: thin;
  color: white;
  background-color: #c3b167;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #a446a4;
  transition: ease-out 0.05s;
  font-size: 1rem;
  outline: none;
  margin-top: 1.5rem;
}

.btni2:hover {
  box-shadow: inset 230px 0 0 0 #a446a4;
  cursor: pointer;
  color: white;
  border-color: black;
  border-width: thin;
  width: 200px;
  height: 70px;
  font-size: 1.3rem;
}

.sec2img {
  width: 25rem;
  position: relative;
}

/* section 3 */
.section3a {
  grid-area: section3a;
  padding-top: 7.5rem;
  padding-left: 5rem;
}

.section3b {
  grid-area: section3b;
  padding: 5rem 10rem 0 5rem;
}

.sec3p {
  text-align: left;
  margin-top: 30px;
  color: white;
  line-height: 2;
  margin-bottom: 2rem;
}

.sld1 {
  width: 200px;
  margin-right: 0;
}

.sec3btn {
  margin-top: 2rem;
}

.btni3 {
  text-decoration: none;
  width: 170px;
  height: 60px;
  border: solid;
  border-color: #cdc6aa;
  border-width: thin;
  color: white;
  background-color: #c3b167;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #a446a4;
  transition: ease-out 0.05s;
  font-size: 1rem;
  outline: none;
}

.btni3:hover {
  box-shadow: inset 230px 0 0 0 #a446a4;
  cursor: pointer;
  color: white;
  border-color: black;
  border-width: thin;
  width: 230px;
  height: 70px;
  font-size: 1.3rem;
}

/* section 4 */
.section4 {
  grid-area: section4;
  padding: 0rem 5rem;
}

.s4g {
  text-align: center;
}

.h1sec4 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.h5sec4 {
  color: gray;
  text-align: center;
}

.imgsec4 {
  width: 400px;
}

/* section 5 */
.section5 {
  grid-area: section5;
  padding-top: 5rem;
}

.sec5in {
  position: relative;
  padding: 0 2rem;
}

.stktxt {
  display: inline-block;
  position: relative;
  width: 400px;
  padding: 0 1rem;
}

.growth {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 1.5rem;
  border-radius: 6px;
}

.model {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 1.5rem;
  border-radius: 6px;
}

.pro {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 1.5rem;
  border-radius: 6px;
  top: 2rem;
}

.gd {
  text-align: center;
  justify-items: center;
  position: relative;
  background-color: #b4d8ff;
  width: 220px;
  height: 50px;
  right: 10px;
  top: 20px;
  padding-top: 0.5rem;
}

.md {
  text-align: center;
  justify-items: center;
  position: relative;
  background-color: yellow;
  width: 220px;
  height: 50px;
  right: 10px;
  top: 20px;
  padding-top: 0.5rem;
}

.ppr {
  text-align: center;
  justify-items: center;
  position: relative;
  background-color: #7dce13;
  width: 220px;
  height: 50px;
  right: 10px;
  top: 20px;
  padding-top: 0.5rem;
}

.gd2 {
  position: relative;
  top: 7rem;
  text-align: center;
  justify-content: flex-end;
}

.md2 {
  position: relative;
  top: 5rem;
  text-align: center;
  justify-content: flex-end;
}

.gdbtn {
  border-radius: 25px;
  border-style: none;
  width: 150px;
  height: 40px;
}

.gdbtn:hover {
  border-radius: 25px;
  border-style: solid;
  color: white;
  background-color: black;
}

/* section 6 */
.section6 {
  grid-area: section6;
  padding-top: 5rem;
  text-align: center;
}

/* section7 */
.section7 {
  grid-area: section7;
  background-image: linear-gradient(#290330 53%, transparent);
  padding: 50px 15px;
}
.nasimg {
  width: 190px;
  padding: 10px;
}
.spimg {
  width: 190px;
  padding: 10px;
}
.yfimg {
  width: 190px;
  padding: 10px;
}
.bsimg {
  width: 190px;
  padding: 10px;
}
.mpimg {
  width: 190px;
  padding: 10px;
}
.pbimg {
  width: 190px;
  padding: 10px;
}

/* subscribe */
.subscribe {
  grid-area: subscribe;
}
.subimg {
  transform: rotate(45deg);
  width: 200px;
  margin-top: 80px;
}
.divsubim {
  display: inline-block;
  border-radius: 16px;
  height: 400px;
  width: 300px;
  text-align: center;
  justify-items: center;
  background-color: #eed7fa;
}
.subm {
  margin-left: 190px;
  width: fit-content;
  text-align: center;
}
.divsubtx {
  display: inline-block;
  position: relative;
  top: 100px;
}
#subem {
  margin-top: 30px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  width: 300px;
}
.subbtn {
  font-family: "Montserrat", sans-serif;
  height: 58px;
  margin-left: 15px;
  border-radius: 6px;
  background-color: #eed7fa;
  color: #a446a4;
  font-size: 20px;
  padding: 15px;
}
.subbtn:hover {
  background-color: #d0ccf5;
  color: #8f88d1;
}
/* footer section */
.footer {
  grid-area: footer;
  background-image: url(footerbg1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.footersec {
  background-image: url();
}

.footerlogo {
  width: 8rem;
}

.hf {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.pf {
  font-size: smaller;
  line-height: 1.5;
  margin-top: 1rem;
  color: gray;
}

.ulf {
  line-height: 2;
  list-style: none;
}

.af {
  color: gray;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.af:hover {
  color: #a49453;
}

.if {
  margin: 1rem 0.5rem;
}

@media (max-width: 950px) {
  body {
    justify-content: center;
    text-align: center;
  }

  #navbar {
    width: 100%;
    height: auto;
  }

  .bodycont {
    background-image: radial-gradient(#673ab74f 20%, #673ab73b 30%, black 60%);
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.4fr 0.4fr 0.5fr 0.5fr 0.4fr 1fr 0.3fr 0.7fr 0.7fr 0.7fr;
    grid-template-areas:
      "section1"
      "section2a"
      "section2b"
      "section3a"
      "section3b"
      "section4"
      "section5"
      "section6"
      "section7"
      "subscribe"
      "footer";
  }

  .mh1 {
    font-size: 2rem;
  }

  .mh6 {
    font-size: 0.8rem;
  }

  .btni {
    font-size: 0.65rem;
    width: 125px;
    height: 50px;
    margin-left: 0;
  }

  #sec1btn:hover {
    width: 150px;
    height: 60px;
    font-size: 0.8rem;
  }

  .section1 {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 10rem 0 10rem 0;
    background-position-y: 20px;
  }

  /* section2 */
  .section2a {
    width: 100%;
    grid-area: section2a;
    padding-bottom: 3.13rem;
    padding-left: 0rem;
    text-align: center;
    justify-content: center;
  }

  .td1 {
    text-align: center;
  }

  .h2txt1a {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-family: "montserrat ", sans-serif;
    width: 100%;
  }

  .section2b {
    padding-right: 0px;
  }

  /* section3 */
  .section3a {
    display: inherit;
    text-align: center;
    justify-content: center;
    grid-area: section3a;
    padding-top: 65px;
    padding-left: 0rem;
    height: auto;
  }

  .sld1 {
    width: 400px;
    margin-right: 0;
    justify-content: center;
    text-align: center;
  }

  .sec3btn {
    text-align: center;
    justify-content: center;
  }

  .section3b {
    padding: 5rem 0rem 0 0rem;
  }

  .sec3p {
    text-align: center;
  }

  .sec3h1 {
    text-align: center;
  }

  /* section4 */
  .section4 {
    padding: 0;
  }

  .h1sec4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .h5sec4 {
    font-size: 1rem;
  }

  /* section 5 */
  .section5 {
    grid-area: section5;
    padding-top: 3rem;
    height: 1300px;
  }

  .sec5in {
    position: relative;
    padding: 0 0;
  }

  .stktxt {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 1rem;
  }

  .growth {
    text-align: center;
    background-color: white;
    position: relative;
    width: 200px;
    height: 300px;
    margin-bottom: 2rem;
  }

  .model {
    background-color: white;
    text-align: center;
    position: relative;
    width: 200px;
    height: 300px;
  }

  .pro {
    background-color: white;
    text-align: center;
    position: relative;
    width: 200px;
    height: 300px;
  }

  .gd {
    text-align: center;
    justify-items: center;
    position: relative;
    background-color: #b4d8ff;
    width: 250px;
    height: 50px;
    right: 25px;
    top: 20px;
  }

  .md {
    text-align: center;
    justify-items: center;
    position: relative;
    background-color: yellow;
    width: 250px;
    height: 50px;
    right: 25px;
    top: 20px;
  }

  .ppr {
    text-align: center;
    justify-items: center;
    position: relative;
    background-color: #7dce13;
    width: 250px;
    height: 50px;
    right: 25px;
    top: 20px;
  }
  .section7 {
    margin-top: 10px;
  }
  .subm {
    margin-left: 0px;
    width: fit-content;
    text-align: center;
  }
  .divsubtx {
    display: inline-block;
    position: relative;
    top: 30px;
  }
  .subbtn {
    margin-top: 15px;
  }
  .ulf {
    padding: 0;
  }
  .footer {
    grid-area: footer;
    background-image: url(footerbg2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (min-width: 450px) and (max-width: 950px) {
  .footer {
    grid-area: footer;
    background-color: #0f0326;
    background-image: url(footerbg3.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
