<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="World's leading NFTs and DeFi space with a user interface friendly to both Pros and beginners.">
    <meta name="keywords" content="NFT, investment, Finance, Crypto, DeFi">
    <meta property="og:image" content="https://i.pinimg.com/474x/da/f4/0d/daf40dbd6c34b82a2ea3dae8c4e04b60.jpg">
    <title>TUNGSTEN EXCHANGE</title>
    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <!-- styles -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <!-- javascript -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script
      type="text/javascript"
      src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    ></script>

    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/646140ae8f.js"
      crossorigin="anonymous"
    ></script>
    
  </head>


 <script
    src="//code.tidio.co/m5wbvo2afibswqbvp14xumy1u1isajgk.js"
    async
  ></script>
  <body>
    <div style="height: 80px">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright">
          <a
            href="https://www.tradingview.com/markets/"
            rel="noopener"
            target="_blank"
            ><span class="blue-text">Markets</span></a
          >
          by TradingView
        </div>
        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
          async>
            {
            "symbols": [
              {
                "proName": "FOREXCOM:SPXUSD",
                "title": "S&P 500"
              },
              {
                "proName": "FOREXCOM:NSXUSD",
                "title": "US 100"
              },
              {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
              },
              {
                "proName": "BITSTAMP:BTCUSD",
                "title": "Bitcoin"
              },
              {
                "proName": "BITSTAMP:ETHUSD",
                "title": "Ethereum"
              },
              {
                "description": "Shiba",
                "proName": "BINANCE:SHIBUSDT"
              },
              {
                "description": "Polygon",
                "proName": "BINANCE:MATICUSDT"
              },
              {
                "description": "Cardona",
                "proName": "BINANCE:ADAUSDT"
              },
              {
                "description": "dogecoin",
                "proName": "BINANCE:DOGEUSDT"
              },
              {
                "description": "Solana",
                "proName": "BINANCE:SOLUSDT"
              },
              {
                "description": "USDT",
                "proName": "CRYPTOCAP:USDT"
              },
              {
                "description": "Algo",
                "proName": "BINANCE:ALGOUSDT"
              },
              {
                "description": "Chainlink",
                "proName": "BINANCE:LINKUSDT"
              },
              {
                "description": "Tron",
                "proName": "BINANCE:TRXUSDT"
              },
              {
                "description": "Ripple",
                "proName": "BINANCE:XRPUSDT"
              },
              {
                "description": "Stellar",
                "proName": "BINANCE:XLMUSDT"
              },
              {
                "description": "Binance coin",
                "proName": "BINANCE:BNBUSDT"
              },
              {
                "description": "BUSD",
                "proName": "BINANCE:BUSDUSDT"
              }
            ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": false,
            "displayMode": "adaptive",
            "locale": "en"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <!-- navbar -->
    <nav
      style="margin-top: 0px"
      id="navbar"
      class="navbar navbar-expand-lg bg-transparent"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img class="logoimg" src="img\TUNGSTEN.png" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul id="navbar-nav" class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                id="navlink"
                class="nav-link active"
                aria-current="page"
                href="#"
                >HOME</a
              >
            </li>
            <li class="nav-item">
              <a id="navlink" class="nav-link" href="#about-us">ABOUT</a>
            </li>
            <li class="nav-item">
              <a id="navlink" class="nav-link" href="#section5">STAKING</a>
            </li>
            <li class="nav-item">
              <a id="navlink" class="nav-link" href="#nft">NFTs</a>
            </li>
            <li class="nav-item">
              <a id="navlink" class="nav-link" href="#features">FEATURES</a>
            </li>
            <li class="nav-item">
              <a id="navlink" class="nav-link" href="#footer">CONTACT US</a>
            </li>
            <li class="trans nav-item">
              <a class="nav-link" href="/login-up"
                ><button class="mbtn" type="button" name="button">
                  SIGN IN
                </button></a
              >
              <a href="#google_translate_element"
                ><img style="width: 25px" src="img2/translation.png" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="bodycont">
      <!-- section1 -->
      <div id="section1" style=" background-image: url(css/bki.png);" class="section1 "data-aos="zoom-in-up" data-aos-duration="2000"</div>>
        <h5 class="mh5">THE EVOLUTION OF CRYPTO FINANCE & INVESTMENTS</h5>
        <h1 class="mh1">
          NFTs <span class="sp1">Investments</span>, Staking & Finances
          <br />Blended With Convenience.
        </h1>
        <h6 class="mh6">
          We provide the foolproof way for PROs and Beginners to benefit from
          NFTs with guarantee on investments
        </h6>
        <a href="/sign-up"
          ><button class="btni" id="sec1btn" type="button" name="button">
            GET STARTED
          </button></a
        >
      </div>
      <!-- section2a -->
      <div id="about-us" class="section2a "data-aos="fade-right"data-aos-duration="2000">
        <div class="divabt">
          <div>
            <h3 class="h1txt1a">ABOUT US</h3>
          </div>
          <div class="">
            <h2 class="h2txt1a">
              World's first and Most
              <span style="color: #a49453">Reliable</span> Crypto Finance
              Providers with a Blend of DeFi and NFTs.
            </h2>
          </div>
          <div class="divtbl2a">
            <table class="tbl2a">
              <tr>
                <td class="td1">
                  ⚪ Certified Company <br /><br />⚪ Trusted Investment<br /><br />⚪
                  Easy & Save Time <br /><br />⚪ Amazing Features
                </td>
                <td class="td1">
                  ⚪ Quality of our Research<br />
                  <br />⚪ Support All Time<br /><br />
                  ⚪We Innovate & Get Profit
                </td>
              </tr>
            </table>
          </div>
          <div class="">
            <a href="/about-us">
              <button  class="btni2" type="button" name="button">
                LEARN MORE
              </button>
            </a>
          </div>
        </div>
      </div>
      <!-- section2b -->
      <div id="section2b" class="section2b " data-aos="fade-up"data-aos-duration="2000">
        <img class="sec2img" src="img\phone-6.png" alt="" />
      </div>
      <!-- section 3 -->
      <div id="nft" class="section3a "data-aos="flip-left"data-aos-duration="2000">
        <div class="slidediv">
          <div
            id="carouselExampleControls"
            class="sld1 carousel slide"
            data-bs-ride="carousel"
            data-interval="1000"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="img\63ec3f3a-c4fe-4ddb-afc7-91edf75bca88.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="img\XSULLO on Twitter.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="img\unnamed (1).png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="sec3btn">
            <a href="/marketplace"
              ><button class="btni3" type="button" name="button">
                NFTs Marketplace
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="section3b "data-aos="flip-right"data-aos-duration="2000">
        <h1
          class="sec3h1"
          style="
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            color: #a446a4;
          "
        >
          NFT <span style="color: #a49453">Investment</span>
        </h1>
        <div class="sec3p">
          <p>
            Non-fungible tokens or NFTs are digital assets representing
            real-world objects such as arts, music, sports moments, in-game
            items, videos, and many others. However, an NFT marketplace is a
            medium that enables the trading of digital assets in a simple and
            hassle-free manner. <br />
            <span style="color: gray">
              Tungsten Exchange offers a digital marketplace for crypto
              collectibles and non-fungible tokens (NFTs). Buy, sell, and
              discover exclusive digital items.</span
            >
          </p>
        </div>
      </div>
      <!-- section4 -->
      <div class="section4" id="features">
        <div class="">
          <h5 class="h5sec4" style="">AWESOME FEATURES</h5>
          <h1 class="h1sec4" style="">
            Smart <span style="color: #a49453">Invest,</span> with Tungsten<span
              style="color: #a49453"
            >
              Exchange.</span
            >
          </h1>
        </div>
        <div class="s4g "data-aos="zoom-in "data-aos-duration="2000">
          <img class="imgsec4" src="img\TUNGSTEN FEATURES.png" alt="" />
        </div>
      </div>
      <!-- section 5 -->
      <div id="section5" class="section5">
        <div class="sec5in">
          <div class="stktxt "data-aos="fade-right"data-aos-duration="2000">
            <h2 style="color: #a446a4">STAKING</h2>
            <p style="line-height: 2">
              We have designed different stakingplans to fit the size of your
              portfolio. now you ideal crypto can earn you compounded APYs on a
              daily basis with us bearing the risks of investment.
            </p>
          </div>
          <div class="growth" data-aos="flip-left"data-aos-duration="2000">
            <div class="gd">
              <p style="color: black; margin: 0 0 0 0; font-size: 1.5rem">
                Growth
              </p>
            </div>
            <div class="gd2">
              <h3 style="color: gray">$100-$2000</h3>
              <p style="color: black"><strong>1-3% Daily</strong></p>
              <a href="/sign-up"
                ><button class="gdbtn" type="button" name="button">
                  Get started
                </button></a
              >
            </div>
          </div>
          <div class="model "data-aos="flip-up"data-aos-duration="2000">
            <div class="md">
              <p style="color: black; margin: 0 0 0 0; font-size: 1.5rem">
                Model
              </p>
            </div>
            <div class="md2">
              <h3 style="color: gray">$2000-$10000</h3>
              <p style="color: black"><strong>3-6% Daily</strong></p>
              <p style="color: black">plus monthly bonus</p>
              <a href="/sign-up"
                ><button class="gdbtn" type="button" name="button">
                  Get started
                </button></a
              >
            </div>
          </div>
          <div class="pro"data-aos="flip-right"data-aos-duration="2000">
            <div class="ppr">
              <p style="color: black; margin: 0 0 0 0; font-size: 1.5rem">
                Pro
              </p>
            </div>
            <div class="md2">
              <h3 style="color: gray">$10000-$20000</h3>
              <p style="color: black"><strong>6-15% Daily</strong></p>
              <p style="color: black">plus weekly bonus</p>
              <a href="/sign-up"
                ><button class="gdbtn" type="button" name="button">
                  Get started
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- section 6 -->
      <div style="color: white" class="section6">
        <h1>
          Trusted by <span style="color: #c3b167">2.5+ Million</span> Users &
          Companies.
        </h1>
        <p style="margin-top: 3rem">
          Trade NFTs, Securely store, manage, stake and exchange Bitcoin,
          Ethereum, and other Altcoins.
        </p>
        <p>Tungstenexchange is trusted by millions of users worldwide.</p>
        <p>
          Tungsten exchange is guaranteed to serve you with the aim of gaining
          client’s trust.
        </p>
      </div>
      <!-- section 7 -->
      <div style="color: white" class="section7">
        <img class="nasimg" src="img/nasdaq.png" alt="" />
        <img class="spimg" src="img/SNP.png" alt="" />
        <img class="yfimg" src="img/download_prev_ui (3).png" alt="" />
        <img class="bsimg" src="img/bscff.png" alt="" />
        <img class="mpimg" src="img/download_prev_ui (4).png" alt="" />
        <img class="pbimg" src="img/download_prev_ui (5).png" alt="" />
      </div>
      <!-- subscribe -->
      <div style="color: white" class="subscribe">
        <div class="subm">
          <div class="divsubim"data-aos="flip-left"data-aos-duration="2000">
            <img class="subimg" src="img2/email.png" alt="" />
          </div>
          <div class="divsubtx" >
            <h1 style="color: #a030c5; margin-top: 20px">Subscribe</h1>
            <p style="padding: 10px; color: gray">
              Join us and stay updated on everything new with Tungsten Exchange!
            </p>
            <form action="/" method="post">
              <input type="email" name="subemail" id="subem" />
              <input type="submit" value="Subscribe" class="subbtn" />
            </form>
          
          </div>
        </div>
        <div id="google_translate_element"></div>

        <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement(
              { pageLanguage: "en" },
              "google_translate_element"
            );
          }
        </script>

        <script
          type="text/javascript"
          src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
        ></script>
      </div>
 <!-- footer section -->
      <div style="color: white; " id="footer" class="footer"data-aos="fade-up">
        <div style="padding: 3rem 5rem 0 5rem" class="">
          <div class="row">
            <div class="col-lg-3">
              <img class="footerlogo" src="img\TUNGSTEN.png" alt="" />
              <p class="pf">
                NFT Investment planning and guaranty of online payments. A new
                way to make the Online NFT Investment easy.
              </p>
            </div>
            <div class="col-lg-2">
              <ul class="ulf">
                <li>
                  <h6 class="hf">THE COMPANY</h6>
                </li>
                <li><a class="af" href="#about-us">About us</a></li>
                <li><a class="af" href="#section5">Our Plans</a></li>
                <li><a class="af" href="#footer">Contact Us</a></li>
                <li><a class="af" href="#">Our Team</a></li>
              </ul>
            </div>
            <div class="col-lg-2">
              <ul class="ulf">
                <li>
                  <h6 class="hf">FEATURES</h6>
                </li>
                <li>
                  <a style="font-size: 0.94rem" class="af" href="#nft"
                    >NFT Marketplace</a
                  >
                </li>
                <li><a class="af" href="#section5">Staking</a></li>
                <li><a class="af" href="#features">DEX</a></li>
                <li><a class="af" href="#features">Launch Pad</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <ul class="ulf">
                <li>
                  <h6 class="hf">LEGAL</h6>
                </li>
                <li><a class="af" href="#">Privacy Policy</a></li>
                <li><a class="af" href="#">Data Security</a></li>
                <li><a class="af" href="/terms">Terms & Conditions</a></li>
                <li><a class="af" href="#">Customer Information </a></li>
              </ul>
            </div>
            <div class="col-lg-2">
              <ul class="ulf">
                <li>
                  <h6 class="hf">FOLLOW US</h6>
                </li>
                <li>
                  <a href="" style="color: white"
                    ><i
                      style="margin-left: 0"
                      class="if fa-brands fa-instagram fa-xl"
                    ></i
                  ></a>
                  <a href="" style="color: white"
                    ><i class="if fa-brands fa-twitter fa-xl"></i
                  ></a>
                  <a href="" style="color: white"
                    ><i class="if fa-brands fa-telegram fa-xl"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <p style="text-align: center; padding-top: 60px">
          Tungsten Exchange &copy;2020
        </p>
      </div>
    </div>
   
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
